<!--page header section start-->
<!-- <section class="touch-in">
  <img src="assets/img/asz/touch.jpg" />
</section> -->
<!--page header section end-->

<section class="dicussion">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="form-section">
          <div class="form_heading">
            <h3>Contact Us</h3>
            <!-- <h5>Make an Enquiry</h5> -->
            <!-- <p>If you want more information fill in this form. You will be contacted as soon as possible.</p> -->
          </div>
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Name*</label>
                  <input type="text" name="form_name" class="form-control" placeholder="Enter Name">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Email*</label>
                  <input type="text" name="form_name" class="form-control" placeholder="Enter Email">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Subject*</label>
                  <input type="text" name="form_name" class="form-control" placeholder="Enter Subject">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Phone*</label>
                  <input type="text" name="form_name" class="form-control" placeholder="Enter Phone">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Message*</label>
              <textarea class="form-control" rows="5" placeholder="Enter Mesage"></textarea>
            </div>
            <div class="form-group">
              <button class="button-primary mr-3">Send your message</button>
              <button type="reset" class="button-cancel" (click)="closemodal()">Cancel</button>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <div class="icon-box left media bg-black-333 p-25 mb-20">
              <div class="media-left">
                <div class="media-icon">
                  <i class="fa-solid fa-map-location"></i>
                </div>
                <div class="media-body">
                  <strong class="text-white">OUR OFFICE LOCATION</strong>
                  <p class="text-white">#405, Lan Streen, Los Vegas, USA</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="icon-box left media bg-black-333 p-25 mb-20">
              <div class="media-left">
                <div class="media-icon">
                  <i class="fa-solid fa-phone"></i>
                </div>
                <div class="media-body">
                  <strong class="text-white">OUR CONTACT NUMBER</strong>
                  <p class="text-white">+91 8171 687 685</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="icon-box left media bg-black-333 p-25 mb-20">
              <div class="media-left">
                <div class="media-icon">
                  <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="media-body">
                  <strong class="text-white">OUR CONTACT E-MAIL</strong>
                  <p class="text-white">ASZ@technologies.com</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="icon-box left media bg-black-333 p-25 mb-20">
              <div class="media-left">
                <div class="media-icon">
                  <i class="fa-brands fa-skype"></i>
                </div>
                <div class="media-body">
                  <strong class="text-white">Make a Video Call</strong>
                  <p class="text-white">Skype</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</section>

<!-- <section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3887.171113206329!2d77.59142161430485!3d13.024773017234608!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae17ba8a2e2f61%3A0x5767edc1f4e7489c!2sASZ%20Technologies!5e0!3m2!1sen!2sin!4v1655280334858!5m2!1sen!2sin"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section> -->

<!--contact us form start-->

<!--contact us form end-->