::ng-deep .career_details {


    width: 900px !important;

    ::ng-deep .modal-dialog {
        max-width: 900px !important;

        @media (min-width: 320px) and (max-width: 991px) {
            max-width: 420px !important;
        }
    }

    .modal-content {
        width: 900px !important;

        @media (min-width: 320px) and (max-width: 991px) {
            max-width: 400px !important;
        }
    }

    .career-apply {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 320px) and (max-width: 991px) {
            display: block;
            align-items: center;
            justify-content: center;
        }

        .career-form-image {
            width: 40%;

            img {
                width: 100%;
            }

            @media (min-width: 320px) and (max-width: 991px) {
                display: none;
            }
        }

        .career-form {
            padding: 10px 15px;
            width: 57%;

            @media (min-width: 320px) and (max-width: 991px) {
                width: 100%;
            }

            h4 {
                font-size: 18px;
                text-align: left;
                color: black;
                font-weight: 600 !important;
                margin-bottom: 30px;

                @media (min-width: 320px) and (max-width: 991px) {
                    text-align: center;
                    font-size: 15px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

::ng-deep .modal {
    top: 8% !important;
    left: 15% !important;
    overflow-y: hidden !important;

    @media (min-width: 320px) and (max-width: 991px) {
        top: 1% !important;
        left: 1% !important;
    }
}



.field_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 567px) {
        display: block;
    }
}

.resume {
    width: 100%;

    @media only screen and (max-width: 567px) {
        width: 100%;
        margin-bottom: 10px;
    }
}

.upload-btn {
    line-height: 19px;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.12);
    padding: 14px 10px;
    text-align: center;
    font-size: 16px;
    color: #9c9b9b;
    border-radius: 0.375rem;

    @media only screen and (max-width: 567px) {
        padding: 12px 10px;
        font-size: 15px;
    }

}

.resume input[type="file"] {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    padding: 0;
    margin: 0px;
    min-height: 100%;
    opacity: 0;
    background: none;
    cursor: inherit;
}

.resume input {
    border: 1px solid #d5d5d5;
}


.apply-now-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .go {
        margin-right: 10px;
        background: #ed8021;
        color: white;
        border: 1px solid transparent;
        padding: 5px 20px;

        &:hover {
            background: transparent;
            border-color: #ed8021;
            color: #ed8021;
        }
    }

    .appnow {
        background: transparent;
        border: 1px solid #ed8021;
        color: #ed8021;
        padding: 5px 20px;

        &:hover {
            background: #ed8021;
            color: white;
        }
    }
}

select.selected {
    position: relative;
}

.form-group i.downs {
    right: 30px;
    top: 53px;
    z-index: 99;
    position: absolute;
    color: #ced4da;
}

.cross {
    position: absolute;
    right: 13px;
    top: 11px;

    i {
        font-size: 28px;
        color: #ed8021;
        cursor: pointer;
    }
}