<!--about header section start-->
<section class="about-header-section pt-120 mob-pt-120 position-relative overflow-hidden banner-height">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
                    <div class="about-content-left" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                        <div class="about-info">
                            <h1 class="fw-bold display-5">Grow your Business & Customer Satisfaction with
                                ASZ</h1>
                            <p class="lead">Dynamically disintermediate technically sound technologies with
                                compelling quality vectors error-free communities. </p>
                            <a routerLink="/career" class="btn btn-primary mt-4 me-3 company-btn">Open Positions</a>
                            <!-- <a href="Javascript:void(0)" class="btn btn-soft-primary mt-4">Meet Our Team</a> -->
                        </div>
                        <!-- <img src="assets/img/company-img1.png" alt="about" class="img-fluid about-img-first mt-5 rounded-custom shadow"> -->
                    </div>
                    <div class="about-content-right">
                        <img src="assets/img/asz/company-banner-img.png" alt="about" class="img-fluid rounded-custom" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                        <!-- <img src="assets/img/about-img-3.jpg" alt="about" class="rounded-custom about-img-last shadow"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
    </div> -->
</section>
<!--about header section end-->


<!--our story section start-->
<section class="our-story-section pt-60 pb-120" style="background: url('assets/img/shape/dot-dot-wave-shape.svg')no-repeat left bottom">
    <div class="container">
        <div class="row justify-content-center pb-60">
            <div class="col-lg-12 col-md-10" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                <div class="section-heading text-center">
                    <h2>ASZ Technologies</h2>
                    <p>ASZ Technologies is a well-established software development company and one of the leading Information Technology providers. Based in Bangalore, India ASZ Technologies is home to a dedicated team of skilled IT professionals who are ready to serve your software development needs with customized solutions irrespective of the size of your company. </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between">
            
            <div class="col-lg-12 col-md-12 order-lg-0">
                <div class="story-grid-wrapper position-relative">
                    <!--animated shape start-->
                    <ul class="position-absolute animate-element parallax-element shape-service d-none d-lg-block" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                        <li class="layer" data-depth="0.02">
                            <img src="assets/img/color-shape/image-2.svg" alt="shape" class="img-fluid position-absolute color-shape-2 z-5">
                        </li>
                        <li class="layer" data-depth="0.03">
                            <img src="assets/img/color-shape/feature-3.svg" alt="shape" class="img-fluid position-absolute color-shape-3">
                        </li>
                    </ul>
                    <!--animated shape end-->
                    <div class="story-grid rounded-custom overflow-hidden position-relative">
                        <div class="story-item bg-light border" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <h3 class="display-5 fw-bold mb-1 text-success">550K+</h3>
                            <h6 class="mb-0">Active Users</h6>
                        </div>
                        <!-- <div class="story-item bg-white border">
                            <h3 class="display-5 fw-bold mb-1 text-primary">250+</h3>
                            <h6 class="mb-0">Team Members</h6>
                        </div> -->
                        <div class="story-item bg-white border" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <h3 class="display-5 fw-bold mb-1 text-dark">$20M+</h3>
                            <h6 class="mb-0">Revenue Per/Year</h6>
                        </div>
                        <div class="story-item bg-light border" data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <h3 class="display-5 fw-bold mb-1 text-warning">8 Years</h3>
                            <h6 class="mb-0">In Business</h6>
                        </div>
                        <div class="story-item bg-light border" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <h3 class="display-5 fw-bold mb-1 text-danger">425+</h3>
                            <h6 class="mb-0">Clients Worldwide</h6>
                        </div>
                        <div class="story-item bg-white border" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <h3 class="display-5 fw-bold mb-1 text-primary">855+</h3>
                            <h6 class="mb-0">Projects Completed</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our story section end-->

<!--feature section two start-->
<section class="feature-section-two ptb-120 bg-light">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading">
                    <h4 class="h5 text-primary" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">Our Values</h4>
                    <h3 data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">ASZ Technologies is one of the fastest growing IT companies in Bangalore</h3>
                    <p data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">ASZ Technologies ensures the delivery of quality IT services to the entire satisfaction of our customers</p>
                    <ul class="list-unstyled mt-5">
                        <li class="d-flex align-items-start mb-4" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <div class="icon-box bg-success rounded me-4">
                                <i class="fas fa-bezier-curve text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Pixel Perfect Design</h3>
                                <p>Progressively foster enterprise-wide systems whereas.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <div class="icon-box bg-danger rounded me-4">
                                <i class="fas fa-fingerprint text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Unique &amp; Minimal Design</h3>
                                <p>Dramatically administrate progressive metrics.
                                </p>
                            </div>
                        </li>
                        <li class="d-flex align-items-start mb-4" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                            <div class="icon-box bg-dark rounded me-4">
                                <i class="fas fa-cog text-white"></i>
                            </div>
                            <div class="icon-content">
                                <h3 class="h5">Efficiency & Accountability</h3>
                                <p>Objectively transition prospective collaboration.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-7">
                <div class="feature-img-wrap position-relative d-flex flex-column align-items-end" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">                    
                    <!-- <img src="assets/img/screen/animated-screen-1.svg" alt="feature image" class="img-fluid rounded-custom"> -->
                    <img src="assets/img/screen/animated-screen-2.png" alt="feature image" class="img-fluid rounded-custom">
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section two end-->

<!--team section start-->
<section id="our-team" class="team-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="section-heading text-center" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <h5 class="h6 text-primary">Our Team</h5>
                    <h2>The People Behind ASZ</h2>
                    <p class="text-white">Intrinsicly strategize cutting-edge before interoperable applications incubate extensive
                        expertise through integrated intellectual capital. </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-1.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="fade-up"
                data-aos-anchor-placement="center-center" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-2.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-3.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-4.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="fade-up"
                data-aos-anchor-placement="center-center" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-5.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-6.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="fade-up"
                data-aos-anchor-placement="center-center" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-3.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-4.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-5.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="fade-up"
                data-aos-anchor-placement="center-center" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-6.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-7.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-single-wrap mb-5" data-aos="zoom-out-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic" data-aos-delay="200">
                    <div class="team-img rounded-custom">
                        <img src="assets/img/team/team-8.jpg" alt="team" class="img-fluid position-relative">
                        <ul class="list-unstyled team-social-list d-flex flex-column mb-0">
                            <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>                           
                            <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-info mt-4 text-center">
                        <h5 class="h6 mb-1">John Sullivan</h5>
                        <p class="text-muted small mb-0">Front End Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--team section end-->

<!--testimonial section start-->
<!-- <section class="testimonial-section ptb-120 bg-light">
    <div class="container">
        <div class="row justify-content-center align-content-center">
            <div class="col-md-10 col-lg-6">
                <div class="section-heading text-center">
                    <h4 class="h5 text-primary">Testimonial</h4>
                    <h2>What They Say About Us</h2>
                    <p>Dynamically initiate market positioning total linkage with clicks-and-mortar technology
                        compelling data for cutting-edge markets.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="position-relative w-100">
                    <div class="swiper-container testimonialSwiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/1.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Mr.Rupan Oberoi</h6>
                                        <small>Founder and CEO at Amaara Herbs</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>The Best Template You Got to Have it!</h6>
                                    Globally network long-term high-impact schemas vis-a-vis distinctive e-commerce
                                    cross-media infrastructures rather than ethical
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/3.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Oberoi R.</h6>
                                        <small>CEO at Herbs</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>Embarrassed by the First Version.</h6>
                                    Dynamically create innovative core competencies with effective best
                                    practices promote innovative infrastructures.
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/2.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Mr.Rupan Oberoi</h6>
                                        <small>Founder and CEO</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>Amazing ASZ template!</h6>
                                    Appropriately negotiate interactive niches rather than parallel strategic theme
                                    incubate premium total linkage areas.
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/4.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Joan Dho</h6>
                                        <small>Founder and CTO</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>Best Template for SAAS Company!</h6>
                                    Dynamically create innovative core competencies with effective best
                                    practices promote innovative infrastructures.
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                            <div class="swiper-slide border border-2 p-5 rounded-custom position-relative">
                                <img src="assets/img/testimonial/quotes-dot.svg" alt="quotes" width="100" class="img-fluid position-absolute left-0 top-0 z--1 p-3">
                                <div class="d-flex mb-32 align-items-center">
                                    <img src="assets/img/testimonial/5.jpg" class="img-fluid me-3 rounded" width="60" alt="user">
                                    <div class="author-info">
                                        <h6 class="mb-0">Ranu Mondal</h6>
                                        <small>Lead Developer</small>
                                    </div>
                                </div>
                                <blockquote>
                                    <h6>It is undeniably good!</h6>
                                    Rapidiously supply client-centric e-markets and maintainable processes
                                    progressively engineer
                                </blockquote>
                                <ul class="review-rate mb-0 mt-2 list-unstyled list-inline">
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                    <li class="list-inline-item"><i class="fas fa-star text-warning"></i></li>
                                </ul>
                                <img src="assets/img/testimonial/quotes.svg" alt="quotes" class="position-absolute right-0 bottom-0 z--1 pe-4 pb-4">
                            </div>
                        </div>
                    </div>
                    <span class="swiper-button-next"></span>
                    <span class="swiper-button-prev"></span>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--testimonial section end-->

<!--our location address start-->
<!-- <section class="office-address-section ptb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="section-heading text-center">
                    <h4 class="h5 text-primary">Our Office</h4>
                    <h2>Located Around the World</h2>
                    <p>Dynamically technically sound technologies with parallel task convergence quality vectors
                        through excellent relationships. </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-1.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>Singapore</h5>
                            <address>
                                4636 Bombardier Way <br> Sr,Worthington, <br>California(CA), 94102
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-2.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>Los Angeles</h5>
                            <address>
                                794 Mcallister <br> St. Oak Harbor, <br>Washington(WA), 98277
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-3.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>New York</h5>
                            <address>
                                4219 Snowbird Lane <br> St Carthage, <br>New York(NY), 13619
                            </address>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0 mt-xl-0">
                <div class="rounded-custom border d-block office-address overflow-hidden z-2" style="background: url('assets/img/office-img-5.jpg')no-repeat center center / cover">
                    <div class="office-content text-center p-4">
                        <span class="office-overlay"></span>
                        <div class="office-info">
                            <h5>Barlin City</h5>
                            <address>
                                Brandenburgische Straße <br> DE. Berlin Kreuzberg, <br>Berlin(CA), 10997
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--our location address end-->

<!--cat subscribe start-->
<!-- <section class="cta-subscribe bg_dark ptb-120 position-relative overflow-hidden">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="subscribe-info-wrap text-center position-relative z-2">
                    <div class="section-heading">
                        <h4 class="h5 text-warning">Let's Try! Get Free Support</h4>
                        <h2>Start Your 14-Day Free Trial</h2>
                        <p>We can help you to create your dream website for better business revenue.</p>
                    </div>
                    <div class="form-block-banner mw-60 m-auto mt-5">
                        <a href="contact-us.html" class="btn btn-primary">Contact with Us</a>
                        <a href="http://www.youtube.com/watch?v=hAP2QF--2Dg" class="text-decoration-none popup-youtube d-inline-flex align-items-center watch-now-btn ms-lg-3 ms-md-3 mt-3 mt-lg-0">
                            <i
                                    class="fas fa-play"></i> Watch Demo </a>
                    </div>
                    <ul class="nav justify-content-center subscribe-feature-list mt-4">
                        <li class="nav-item">
                            <span><i class="far fa-check-circle text-primary me-2"></i>Free 14-day trial</span>
                        </li>
                        <li class="nav-item">
                            <span><i
                                    class="far fa-check-circle text-primary me-2"></i>No credit card required</span>
                        </li>
                        <li class="nav-item">
                            <span><i class="far fa-check-circle text-primary me-2"></i>Support 24/7</span>
                        </li>
                        <li class="nav-item">
                            <span><i class="far fa-check-circle text-primary me-2"></i>Cancel anytime</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
        <div class="bg-circle rounded-circle circle-shape-1 position-absolute bg-warning right-5"></div>
    </div>
</section> -->
<!--cat subscribe end-->
