<!--footer section start-->
<footer class="footer-section" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic white-bg">
    <!--footer top start-->
    <!--for light footer add .footer-light class and for dark footer add .bg-dark .text-white class-->
    <div class="footer-top footer-light ">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3 col-lg-4 mb-md-4 mb-lg-0">
                    <div class="footer-single-col">
                        <div class="footer-single-col mb-4">
                            <img src="assets/img/logo-white.png" alt="logo" class="img-fluid logo-white">
                            <img src="assets/img/asz/logo-t.png" alt="logo" class="img-fluid logo-color">
                        </div>
                        <p>Our latest news, articles, and resources, we will sent to
                            your inbox weekly.</p>

                        <form class="newsletter-form position-relative d-block d-lg-flex d-md-flex">
                            <input type="text" class="input-newsletter form-control me-2" placeholder="Enter your email"
                                name="email" required="" autocomplete="off">
                            <input type="submit" value="Subscribe" data-wait="Please wait..."
                                class="btn btn-primary mt-3 mt-lg-0 mt-md-0 dark-btn">
                        </form>
                    </div>
                </div>
                <div class="col-md-9 col-lg-7 mt-4 mt-md-0 mt-lg-0">
                    <div class="row d_sm_none">
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Primary Pages</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a routerLink="/home" class="text-decoration-none">Home</a></li>
                                    <li><a routerLink="/company" class="text-decoration-none">Company</a></li>
                                    <li><a href="Javascript:void(0)" class="text-decoration-none">Blog</a></li>
                                    <li><a routerLink="/career" class="text-decoration-none">Career</a></li>
                                    <li><a routerLink="/contact-us" class="text-decoration-none">Contact Us</a></li>
                                    <li><a routerLink="/privacy-policy" class="text-decoration-none">Privacy Policy</a>
                                    </li>
                                    <li><a routerLink="/terms-conditions" class="text-decoration-none">Terms &
                                            Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Services</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a routerLink="/sharepoint-consulting" class="text-decoration-none">Sharepoint
                                            Consulting</a></li>
                                    <li><a routerLink="/web-development" class="text-decoration-none">Web
                                            Development</a></li>
                                    <li><a routerLink="/mobile-development" class="text-decoration-none">Mobile
                                            Development</a></li>
                                    <li><a routerLink="/bpo-services" class="text-decoration-none">BPO Services</a></li>
                                    <li><a routerLink="/book-keeping" class="text-decoration-none">Book Keeping</a></li>
                                    <li><a routerLink="/resource-consulting" class="text-decoration-none">Resource
                                            Consulting</a></li>
                                    <li><a routerLink="/niche-skills-training" class="text-decoration-none">Niche Skills
                                            Training</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 mt-4 mt-md-0 mt-lg-0">
                            <div class="footer-single-col">
                                <h3>Pages</h3>
                                <ul class="list-unstyled footer-nav-list mb-lg-0">
                                    <li><a routerLink="/sentimental-analytics" class="text-decoration-none">Sentimental
                                            Analytics</a></li>
                                    <li><a routerLink="/BI-analytics" class="text-decoration-none">BI Analytics</a></li>
                                    <li><a routerLink="/ASZ-products" class="text-decoration-none">ASZ Products</a></li>
                                    <li><a routerLink="/open-source-products" class="text-decoration-none">Open Source
                                            Products</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-md-none">
                <div class="col-sm-12">
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" class="footer_accordion">
                        <ngb-panel title="Primary Pages" id="config-panel-one">
                            <ng-template ngbPanelContent>
                                <ul class="">
                                    <li><a routerLink="/home" class="text-decoration-none">Home</a></li>
                                    <li><a routerLink="/company" class="text-decoration-none">Company</a></li>
                                    <li><a routerLink="/blog" class="text-decoration-none">Blog</a></li>
                                    <li><a routerLink="/career" class="text-decoration-none">Career</a></li>
                                    <li><a routerLink="/contact-us" class="text-decoration-none">Contact Us</a></li>
                                    <li><a routerLink="/privacy-policy" class="text-decoration-none">Privacy Policy</a>
                                    </li>
                                    <li><a routerLink="/terms-conditions" class="text-decoration-none">Terms &
                                            Conditions</a></li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel title="Services">
                            <ng-template ngbPanelContent>
                                <ul class="">
                                    <li><a routerLink="/sharepoint-consulting" class="text-decoration-none">Sharepoint
                                            Consulting</a></li>
                                    <li><a routerLink="/web-development" class="text-decoration-none">Web
                                            Development</a></li>
                                    <li><a routerLink="/mobile-development" class="text-decoration-none">Mobile
                                            Development</a></li>
                                    <li><a routerLink="/bpo-services" class="text-decoration-none">BPO Services</a></li>
                                    <li><a routerLink="/book-keeping" class="text-decoration-none">Book Keeping</a></li>
                                    <li><a routerLink="/resource-consulting" class="text-decoration-none">Resource
                                            Consulting</a></li>
                                    <li><a routerLink="/niche-skills-training" class="text-decoration-none">Niche Skills
                                            Training</a></li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel title="Pages">
                            <ng-template ngbPanelContent>
                                <ul class="">
                                    <li><a routerLink="/sentimental-analytics" class="text-decoration-none">Sentimental
                                            Analytics</a></li>
                                    <li><a routerLink="/BI-analytics" class="text-decoration-none">BI Analytics</a></li>
                                    <li><a routerLink="/ASZ-products" class="text-decoration-none">ASZ Products</a></li>
                                    <li><a routerLink="/open-source-products" class="text-decoration-none">Open Source
                                            Products</a></li>
                                </ul>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
    <!--footer top end-->

    <!--footer bottom start-->
    <div class="footer-bottom footer-light py-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-md-7 col-lg-7">
                    <div class="copyright-text">
                        <p class="mb-lg-0 mb-md-0">Copyright © 2022 ASZ Technologies. All Rights Reserved.</p>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="footer-single-col text-start text-lg-end text-md-end">
                        <ul class="list-unstyled list-inline footer-social-list mb-0">
                            <li class="list-inline-item"><a href="https://www.facebook.com/" target="_blank"><i
                                        class="fab fa-facebook-f"></i></a></li>
                            <li class="list-inline-item"><a href="https://twitter.com/" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="mailto:info@asztechnologies.com?Subject=enquiry"
                                    target="_blank"><i class="fa fa-envelope"></i></a></li>
                            <li class="list-inline-item"><a href="https://login.skype.com/login?message=signin_continue"
                                    target="_blank"><i class="fab fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer bottom end-->
</footer>
<!--footer section end-->