
<section class="about-header-section pt-120 mob-pt-120 position-relative overflow-hidden banner-height">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
                    <div class="about-content-left">
                        <div class="about-info " data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                            <h1 class="fw-bold display-5 text-white text-shadow">Web Development</h1>
                            <p class="lead text-light text-shadow">Website is one of the most prominent representatives of business. ASZ Technologies will design website for you, which matches every one of your business’s requirements,
                                designing them in a fashion which allows them to grow with your business as it does.</p>
                                <p class="lead text-light text-shadow">The custom CMS designed by ASZ Technologies will help you a great deal in streamlining.</p>
                            
                        </div>
                        <!-- <img src="assets/img/company-img1.png" alt="about" class="img-fluid about-img-first mt-5 rounded-custom shadow"> -->
                    </div>
                    <div class="about-content-right">
                        <img src="assets/img/asz/web_banner-img.png" alt="about" class="img-fluid rounded-custom" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <!-- <img src="assets/img/about-img-3.jpg" alt="about" class="rounded-custom about-img-last shadow"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
    </div> -->
</section>


<section class="masonary-blog-section ptb-120"    style="background: url('assets/img/section-bg/section-bg15.webp')no-repeat; background-size: cover; background-position: center top; ">
    <div class="container">
        <!-- <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="single-article feature-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-w1.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-primary-soft font-2em"><i class="fa fa-code" aria-hidden="true"></i></a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">Dynamic Website Development</h2>
                        </a>
                        <p class="limit-2-line-text">Get a Dynamic Website Development For Your business With Modern Design and complex Functions To Take your Business Online</p>

                        <a href="javascript:;">
                            <div class="d-flex align-items-center pt-4">                                
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">ASZ Technologies</h6>                                    
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="single-article feature-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-w2.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-danger-soft font-2em"><i class="fa fa-code" aria-hidden="true"></i></a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">Corporate Website Development</h2>
                        </a>
                        <p class="limit-2-line-text">Do you Have a company, or a Multi National Brand , So we think that You need to have a Website For Your corporate . Get a Corporate website Development With all Corporate functionality</p>

                        <a href="javascript:;">
                            <div class="d-flex align-items-center pt-4">
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">ASZ Technologies</h6>                                   
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-lg-4 col-md-6" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="single-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-w1.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-danger-soft">Development</a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">Dynamic Website Development</h2>
                        </a>
                        <p class="limit-2-line-text">Get a Dynamic Website Development For Your business With Modern Design and complex Functions To Take your Business Online .</p>

                        <a href="">
                            <div class="d-flex align-items-center pt-4">
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">Read More...</h6>                                    
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            
            
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="single-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-w2.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-primary-soft">Development</a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">Ecommerce Website Development</h2>
                        </a>
                        <p class="limit-2-line-text">Get A Single Vendor or Multivendor Ecommerce Website For Your Online Shopping Business And Start Selling With Your New brand ecommerce Website .</p>

                        <a href="">
                            <div class="d-flex align-items-center pt-4">
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">Read More...</h6>                                    
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="single-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-w3.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-warning-soft">Development</a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">Corporate Website Development</h2>
                        </a>
                        <p class="limit-2-line-text">Do you Have a company, or a Multi National Brand , So we think that You need to have a Website For Your corporate . Get a Corporate website Development With all Corporate functionality</p>

                        <a href="">
                            <div class="d-flex align-items-center pt-4">
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">Read More...</h6>                                    
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 <section class="cta-with-feature ptb-120 bg-light" style="background: url('assets/img/section-bg/section-bg2.webp')no-repeat; background-size: cover;">
    <div class="container">
        <div class="bg-blue text-black rounded-custom position-relative">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <div class="cta-with-feature-wrap p-5 text-white">
                        <h2 class="text-white" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">Are you Ready to Start your Project?</h2>
                        <ul class="cta-feature-list list-unstyled d-flex flex-wrap list-two-col mb-0 mt-3" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Responsive Designing
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Website Development
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> PSD to HTML5 Conversion
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Website Redesigning
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Website Maintenance
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> E-Commerce Solutions
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Web Application Development
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Portal Development
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Content Management Systems
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> WordPress Development
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Joomla Development
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Drupal Development
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Magento Development
                            </li>
                        
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <img src="assets/img/shape/dot-shape-color.svg" alt="" class="dot-shape-img position-absolute z-1 pt-5 img-fluid d-none d-lg-block" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="shape-img position-absolute d-none d-lg-block top--40 right--40">
                        <img src="assets/img/shape/paper-plane.png" alt="paper-plane" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    </div>
                    <div class="software-uikit h-100 z-2 position-relative" style="background-image: url('assets/img/dashboard-img-2.png')" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic"></div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="work-process ptb-120"     style="background: url('assets/img/section-bg/section-bg16.webp')no-repeat; background-size: cover; background-position: center top; ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8">
                <div class="section-heading text-center" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <h2>We Follow Our Work Process</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy.</p>
                </div>
            </div>
        </div>
        <div class="row d-flex align-items-center">
            <div class="col-md-6 col-lg-3" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="process-card-two text-center px-4 py-5 rounded-custom shadow-hover mt-4">
                    <div class="process-icon border-light border border-2 rounded-custom p-3">
                        <i class="fa fa-folder-tree fa-2x"></i>
                    </div>
                    <h3 class="h5">Research</h3>
                    <p class="mb-0">Uniquely pursue compelling initiatives expanded.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="process-card-two text-center px-4 py-5 rounded-custom shadow-hover mt-4">
                    <div class="process-icon border-light border border-2 rounded-custom p-3">
                        <i class="fa fa-bezier-curve fa-2x"></i>
                    </div>
                    <h3 class="h5">Designing</h3>
                    <p class="mb-0">Uniquely pursue compelling initiatives expanded.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="process-card-two text-center px-4 py-5 rounded-custom shadow-hover mt-4">
                    <div class="process-icon border-light border border-2 rounded-custom p-3">
                        <i class="fa fa-layer-group fa-2x"></i>
                    </div>
                    <h3 class="h5">Building</h3>
                    <p class="mb-0">Uniquely pursue compelling initiatives expanded.</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="process-card-two text-center px-4 py-5 rounded-custom shadow-hover mt-4">
                    <div class="process-icon border-light border border-2 rounded-custom p-3">
                        <i class="fa fa-truck fa-2x"></i>
                    </div>
                    <h3 class="h5">Deliver</h3>
                    <p class="mb-0">Uniquely pursue compelling initiatives expanded.</p>
                </div>
            </div>
        </div>
    </div>
</section>