<!--page header section start-->
<section class="about-header-section pt-120 mob-pt-120 position-relative overflow-hidden banner-height">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
                    <div class="about-content-left">
                        <div class="about-info"  data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                            <h1 class="fw-bold display-5 text-shadow">SharePoint Consulting</h1>
                            <p data-aos="fade-right text-shadow" class="lead">Offshore SharePoint! ASZ Technologies has been thriving on SharePoint. We are amongst the few SharePoint Consulting companies providing its services from India as an offshore development partner. Reach us for highly competitive rates with unmatched quality for Custom SharePoint development and staff augmentation.</p>
                            
                        </div>
                        <!-- <img src="assets/img/company-img1.png" alt="about" class="img-fluid about-img-first mt-5 rounded-custom shadow"> -->
                    </div>
                    <div class="about-content-right" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <img src="assets/img/asz/culting-banner-img.png" alt="about" class="img-fluid rounded-custom">
                        <!-- <img src="assets/img/about-img-3.jpg" alt="about" class="rounded-custom about-img-last shadow"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
    </div> -->
</section>
<!--page header section end-->

<!--feature section start-->
<section class="feature-section ptb-120"   style="background: url('assets/img/section-bg/section-bg14.webp')no-repeat; background-size: cover; background-position: center top; ">
    <div class="container">
        
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 order-lg-2 mb-7 mb-lg-0">
                <div class="mb-4" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <h3>SharePoint Online: Benefits for Small Business & Use cases</h3>
                    <p>SharePoint Online search is an important feature that enhances your ability to find the right information on your company intranet. Managed properties provide relevant</p>
                    <p> data points to help you find the information you seek. SharePoint does this by crawling your content using source or metadata information from the site.</p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="pr-lg-4 mt-md-4 position-relative">
                    <div class="bg-light text-center rounded-custom overflow-hidden p-4 mx-lg-auto" >
                        <img src="assets/img/articles-img-4.jpg" alt="" class="img-fluid shadow-sm rounded-custom" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div
                            class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 top--40 left--40 top-left" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section end-->

<!--feature section start-->
<section class="feature-section bg-white pt-60 pb-120"   style="background: url('assets/img/section-bg/section-bg13.webp')no-repeat; background-size: cover; background-position: center bottom; ">
    <div class="container">
        <div class="row align-items-lg-center justify-content-between">
            <div class="col-lg-5 order-lg-1 mb-7 mb-lg-0">
                <div class="mb-4" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <h3>How to embed content in SharePoint Online from external websites</h3>
                    <p>If you want to embed content from external websites to SharePoint Online pages, there is an out of the box web part available on for SharePoint modern pages</p>
                    
                    <p> that allows you to bring content from other sources by adding the embed code.</p>
                </div>
            </div>
            <div class="col-lg-6 order-lg-2">
                <div class="pr-lg-4 position-relative">
                    <div class="bg-white text-center rounded-custom overflow-hidden p-4 mx-lg-auto">
                        <img src="assets/img/articles-img-5.jpg" alt="" class="img-fluid rounded-custom shadow-sm" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div
                            class="position-absolute bg-secondary-dark z--1 dot-mask dm-size-16 dm-wh-350 bottom--40 right--40 bottom-right" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--feature section end-->

<!--features grid section start-->
<section class="feature-section  ptb-120"  style="background: url('assets/img/aszbg.jpg')no-repeat; background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="feature-grid">
                    <div class="feature-card bg-light shadow-sm highlight-card rounded-custom p-5" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div class="feature-content">
                            <h6 class="h5">What we offer...</h6>
                            <ul class="list-unstyled mb-0">
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary" aria-hidden="true"></i>High-converting
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>Applications
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>Portals
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>Business Intelligence
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>Intranet / Extranet
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>SharePoint Implementations
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>SharePoint Customizations
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>SharePoint Branding
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>Social networking
                                </li>
                                <li class="py-1"><i class="fa fa-check-circle me-2 text-primary"></i>Work Flows
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                    <div class="feature-card bg-light shadow-sm rounded-custom p-5" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div class="icon-box d-inline-block rounded-circle bg-success-soft mb-32">
                            <i class="fa fa-handshake-o icon-sm text-success"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="h5">Accurate Planning</h3>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <a href="" class="link-with-icon text-decoration-none mt-3">View Details <i
                                class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-card bg-light shadow-sm rounded-custom p-5" data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div class="icon-box d-inline-block rounded-circle bg-danger-soft mb-32">
                            <i class="fa fa-user-friends icon-sm text-danger"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="h5">Extended Functionality</h3>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <a href="" class="link-with-icon text-decoration-none mt-3">View Details <i
                                class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-card bg-light shadow-sm rounded-custom p-5" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div class="icon-box d-inline-block rounded-circle bg-danger-soft mb-32">
                            <i class="fa fa-user-friends icon-sm text-danger"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="h5">User adoption</h3>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <a href="" class="link-with-icon text-decoration-none mt-3">View Details <i
                                class="fa fa-arrow-right"></i></a>
                    </div>
                    <div class="feature-card bg-light shadow-sm rounded-custom p-5" data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <div class="icon-box d-inline-block rounded-circle bg-warning-soft mb-32">
                            <i class="fa fa-cog icon-sm text-warning"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="h5">Improved ROI</h3>
                            <p class="mb-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <a href="" class="link-with-icon text-decoration-none mt-3">View Details <i
                                class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--features grid section end-->