.feature-section{
    .hero_img_1{
        width: 530px;
    }
}
.section-dark{
    background-color: #0b163f;
    h2,h3{
        color: #fff;
    }
    p{
        color: cadetblue;
    }
}

.flex-center{
    display: flex;
    justify-content: center;
    padding-right: 50px;
}

.bg-white{
    background-color: #fff;
}

.h-300{
    height: 300px;
}

.h-250{
    height: 250px;
}

.mb-15{
    margin-bottom: 15px;
    display: flex;
}