<section class="about-header-section pt-120 mob-pt-120 position-relative overflow-hidden banner-height">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading-wrap d-flex justify-content-between align-items-center z-5 position-relative">
                    <div class="about-content-left">
                        <div class="about-info" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                            <h1 class="fw-bold display-5 text-white text-shadow">Mobile Development</h1>
                            <p class="lead text-light text-shadow">Mobile application development services provided by ASZ Technologies are incorporated with advanced technologies, for developing secure and reliable solutions for diverse platforms, including iPhone/iPad, Blackberry, Android and Windows.</p>
                                <p class="lead text-light"> Employing the best of latest mobile technology, which are sure to enhance the user’s experience.</p>
                            
                        </div>
                        <!-- <img src="assets/img/company-img1.png" alt="about" class="img-fluid about-img-first mt-5 rounded-custom shadow"> -->
                    </div>
                    <div class="about-content-right">
                        <img src="assets/img/asz/mob_banner_img.png" alt="about" class="img-fluid rounded-custom" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                        <!-- <img src="assets/img/about-img-3.jpg" alt="about" class="rounded-custom about-img-last shadow"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="bg-white position-absolute bottom-0 h-25 bottom-0 left-0 right-0 z-2 py-5">
    </div> -->
</section>


<section class="masonary-blog-section ptb-120" style="background: url('assets/img/section-bg/section-bg17.webp')no-repeat; background-size: cover; background-position: center top; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="single-article feature-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-mob1.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-primary-soft font-2em"><i class="fa fa-android" aria-hidden="true"></i></a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">Android App Development</h2>
                        </a>
                        <p class="limit-2-line-text">Target the extensive Android app market with robust, feature-rich, UI/UX-friendly mobile apps. Accelerate your business growth with successful apps by relying on our  Android app development services in India  and the expertise of industry-level app developers</p>

                        <a href="">
                            <div class="d-flex align-items-center pt-4">
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">Read More...</h6>                                    
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                <div class="single-article feature-article rounded-custom my-3">
                    <a href="" class="article-img">
                        <img src="assets/img/img-mob2.jpg" alt="article" class="img-fluid">
                    </a>
                    <div class="article-content p-4">
                        <div class="article-category mb-4 d-block">
                            <a href="javascript:;" class="d-inline-block text-dark badge bg-danger-soft font-2em"><i class="fa fa-apple" aria-hidden="true"></i></a>
                        </div>
                        <a href="">
                            <h2 class="h5 article-title limit-2-line-text">iOS App Development</h2>
                        </a>
                        <p class="limit-2-line-text">Reach the elite prospects with a scalable, stable, and full-fledged iOS app developed by our skilled & professional team. We have a decade of expertise and a successful line of the portfolio in developing iOS apps as a leading mobile app development company</p>

                        <a href="">
                            <div class="d-flex align-items-center pt-4">
                                <div class="avatar-info">
                                    <h6 class="mb-0 avatar-name">Read More...</h6>                                    
                                </div>
                            </div>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

 

<section class="cta-with-feature ptb-120 bg-light" style="background: url('assets/img/section-bg/section-bg4.webp')no-repeat; background-size: cover;">
    <div class="container">
        <div class="bg-blue text-black rounded-custom position-relative">
            <div class="row">
                <div class="col-lg-7 col-md-10">
                    <div class="cta-with-feature-wrap p-5 text-white">
                        <h2 class="text-white" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">Are you Ready to Start your App?</h2>
                        <ul class="cta-feature-list list-unstyled d-flex flex-wrap list-two-col mb-0 mt-3" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Android Application 
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> iphone/ipad Application 
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> Windows Phone Application 
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> BlackBerry Application 
                            </li>
                            <li class="d-flex align-items-center py-1"><i class="fa fa-check-circle me-2 text-warning"></i> HTML5 Based Applications
                        </ul>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <img class="img-fluid p-2" src="assets/img/mobilek.png" alt="paper-plane" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                </div>
            </div>
        </div>
    </div>
</section>