<section class="career">
    <div class="container cont-height" >
        <div class="row">
            <div class="career-block">  

                <div class="col-lg-6 col-md-8 mt-2">
                    <div class="hero-img position-relative circle-shape-images">
                        <!--animated shape start-->
                        <ul class="position-absolute animate-element parallax-element circle-shape-list">
                            <li class="layer" data-depth="0.03">
                                <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-0 hero-1">
                            </li>
                            <li class="layer" data-depth="0.02">
                                <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-1 hero-1">
                            </li>
                            <li class="layer" data-depth="0.04">
                                <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-2 hero-1">
                            </li>
                            <li class="layer" data-depth="0.04">
                                <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-3 hero-1">
                            </li>
                            <li class="layer" data-depth="0.03">
                                <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-4 hero-1">
                            </li>
                            <li class="layer" data-depth="0.03">
                                <img src="assets/img/shape/circle-1.svg" alt="shape" class="circle-shape-item type-5 hero-1">
                            </li>
                        </ul>
                        <!--animated shape end-->
                        <div class="current-opening" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                            <h2>Current Openings</h2>
                            <p class="tagg-grey">We are looking for experienced, professionals, with a niche skills in their expertise.</p>
                            <ul class="ul-p">
                                <li class="cyan"><a class="cyan" href="#">Magento Developer</a></li>
                                <li class="cyan"><a class="cyan" href="#">Shopify Developer</a></li>
                                <li class="cyan"><a class="cyan" href="#">Business Analysis</a></li>
                                <li class="cyan"><a class="cyan" href="#">Dotnet Developer</a></li>
                                <li class="cyan"><a class="cyan" href="#">Mean/Mern Developer</a></li>
                                <li class="cyan"><a class="cyan" href="#">PHP Developer</a></li>
                                <li class="cyan"><a class="cyan" href="#">React Native Developer</a></li>
                                <li class="cyan"><a class="cyan" href="#">Quality Analyst</a></li>
                                <li class="cyan"><a class="cyan" href="#">NodeJS Developer</a></li>
                            </ul>
                        </div>
                    </div>
                </div>        

                <div class="current-form" data-aos="fade-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <h2>Ready to sky-rocket <br>
                        your Career?</h2>
                    <!-- <p>Please provide as much information as possible and we’ll contact you within 24 hours to advise
                        you our next
                        steps forward for the Recruitment.</p> -->
                    <form>
                        <div class="field"> <input type="text" name="user_name" class="input" placeholder="*Name"></div>
                        <div class="field"> <input type="email" name="mail" class="input" placeholder="*Email"></div>
                        <div class="field"> <input type="text" name="exprince" class="input"
                                placeholder="*Years of Experience"></div>
                        <select id="field-select">
                            <option value=""> *Apply For </option>
                            <option value="Magento Developer"> Magento Developer </option>
                            <option value="Shopify Developer"> Shopify Developer </option>
                        </select>
                        <div class="field"> <input type="text" name="phonenumber" class="input"
                                placeholder="*Phone Number"></div>
                        <div class="field_2">
                            <div class="resume">
                                <div class="upload-btn">
                                    <i class="fa fa-paperclip"></i>
                                    <span class="hidden-xs"> Upload Resume </span>
                                    <input type="file" name="resume">
                                </div>
                            </div>
                            <div class="applynow">
                                <input type="submit" name="btn-submit" class="submit-btn" value="APPLY NOW">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="openings">
    <div class="container">

        <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
            <h1> What's your Forte? </h1>
        </div>
        <div class="opening-block">
            <ul>
                <li data-aos="fade-down-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/business-analyst-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> Business Analyst </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-down-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/quality-analyst-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> Quality Analyst </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/python-developer-icon-.png">
                    </div>
                    <div class="openings-text">
                        <h2> Python Developer </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/dotnet-developer-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> Dotnet Developer </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/salesforce-developer-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> Salesforce Developer </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/sugar-crm-developer-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> SugarCRM Developer </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/web-designer-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> Web Designer </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
                <li data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="tech-icon 1">
                        <img src="assets/img/asz/mobile-app-developer-icon.png">
                    </div>
                    <div class="openings-text">
                        <h2> Mobile App Developer </h2>
                        <p> Role & Responsibility </p>
                    </div>
                    <div class="apply-btn">
                        <input type="button" name="submit" value="apply" class="apply_button" routerLink="/career-details">
                    </div>
                </li>
            </ul>
        </div>
        <div style="clear: both;"></div>


    </div>
</section>


<section class="why">
    <div class="container why-cont">
        <div class="why-box" data-aos="fade-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
            <h2><span>Why Join</span><br>ASZ Technologies </h2>
            <p> Our exceptional staff of over 650 valued employees who are highly motivated to work at a successful
                company like Dotsquares. They are trained in technology and skilled in the English language to ensure we
                not only provide first class solutions but can communicate effectively with clients globally. Tried and
                tested
                processes ensure a smooth process from project initiation through to delivery and support. </p>
        </div>
    </div>
</section>

<section class="culture">

    <div class="container">
        <div class="col-md-12" data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
            <h2> Culture Ethics </h2>
        </div>

        <div class="logistics-services-inner">
            <ul>
                <li  data-aos="fade-down-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon1"></span>
                        <p>Transparency</p>
                    </div>
                </li>
                <li data-aos="fade-down-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon2"></span>
                        <p>Safe and Secure</p>
                    </div>
                </li>
                <li data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon3"></span>
                        <p>Human Approach</p>
                    </div>
                </li >
                <li data-aos="fade-down-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon4"></span>
                        <p>Diverse Culture</p>
                    </div>
                </li>
                <li data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon5"></span>
                        <p>3600 Satisfaction</p>
                    </div>
                </li>
                <li data-aos="fade-up-right" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon6"></span>
                        <p>Team Work</p>
                    </div>
                </li>
                <li data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon7"></span>
                        <p>Work Life Balance</p>
                    </div>
                </li>
                <li data-aos="fade-up-left" data-aos-duration="1000" data-aos-easing="ease-out-cubic">
                    <div class="logistics-services-deatil">
                        <span class="join-us-page-icons culture-icons culture-icon8"></span>
                        <p>Work Life Balance</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>




